a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}


.cfa764c42[data-provider^=oidc] {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23D3EFF9' fill-rule='nonzero' d='M3 0h14v20l-2-1-1.5 1-1.833-1L10 20l-1.667-1L6.5 20 5 19l-2 1z'/%3E%3Cpath fill='%23FFF' d='M6 3h8v5H6z'/%3E%3Cpath d='M6 5h8V3H6v2zm9 1v3H5V2h10v4zm-1 0H6v2h8V6zm2-5H4v17.382l1.072-.536 1.48.987 1.805-.985 1.643.986 1.643-.986 1.805.985 1.48-.987 1.072.536V1zM3 0h14v20l-2-1-1.5 1-1.833-1L10 20l-1.667-1L6.5 20 5 19l-2 1V0zm2 10h10v3H5v-3z' fill='%232255A4' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E")
}

:root {
    --primary-color: #0059d6;
    --primary-color-no-override: #0059d6;
    --link-color-values: 0,123,173;
    --link-color: rgb(var(--link-color-values));
    --page-background-color: #000;
    --info-color: #0a66e1;
    --success-color: #0a8852;
    --error-color-values: 208,14,23;
    --error-color: #d00e17;
    --error-text-color: #fff;
    --warning-color: #ffdb5f;
    --button-font-color: #fff;
    --widget-background-color: #fff;
    --presentational-content-color: #6f7780;
    --gray-lightest: #f1f2f3;
    --gray-light: #dee2e6;
    --gray-mid: #c2c8d0;
    --gray-dark: #6f7780;
    --gray-darkest: #2d333a;
    --font-family: ulp-font,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,sans-serif;
    --font-default-color: var(--gray-darkest);
    --font-light-color: var(--gray-dark);
    --small-font-size: 12px;
    --default-font-size: 14px;
    --font-default-weight: 400;
    --font-bold-weight: 700;
    --title-font-color: var(--gray-darkest);
    --title-font-size: 24px;
    --title-font-weight: var(--font-default-weight);
    --base-line-height: 1.1;
    --lg-font-size: 16px;
    --logo-alignment: 0 auto;
    --logo-height: 52px;
    --header-alignment: center;
    --page-background-alignment: center;
    --icon-height: 20px;
    --icon-width: 20px;
    --icon-default-color: var(--gray-dark);
    --icon-auth0-badge: url("data:image/svg+xml;charset=utf-8,%3Csvg width='19' height='22' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.084 17.797L12.952 11l5.582-4.2h-6.9L9.5.002V0h6.9l2.136 6.8.002-.001c1.238 3.944-.038 8.43-3.453 11zm-11.166 0l-.002.002L9.5 22l5.584-4.202-5.583-4.202-5.583 4.201zm-3.45-11c-1.305 4.159.209 8.564 3.449 11.001v-.002L6.05 11 .47 6.8h6.898L9.5.002V0H2.6L.467 6.798z' fill='%23FFF'/%3E%3C/svg%3E");
    --icon-key: url("data:image/svg+xml;charset=utf-8,%3Csvg width='14' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.373 8.654c-1.86 1.86-4.794 1.949-6.785.312L3.56 10.814l2.305 2.309-.745.746-2.34-2.344-1.453 1.323 2.412 2.406-.748.746L0 13.016l.038-.037a.474.474 0 0 1 .13-.515L4.84 8.208c-1.582-1.99-1.475-4.883.365-6.723a5.068 5.068 0 1 1 7.168 7.169zm-.752-6.409a3.994 3.994 0 1 0-5.649 5.649 3.994 3.994 0 0 0 5.649-5.649z' fill='%235C677D' fill-rule='evenodd'/%3E%3C/svg%3E");
    --icon-phone: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='18' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M5.827 13.38a.5.5 0 0 0 .022-.406c-.346-.904-.639-1.593-.875-2.066l-.112-.224.112-.223c.89-1.781 3.706-4.597 5.487-5.487l.223-.112.224.112c.473.236 1.162.529 2.066.875a.5.5 0 0 0 .407-.022c1.749-.895 2.809-1.6 3.113-2.01-.078-.806-.887-1.586-2.517-2.305-4.116.544-11.558 7.84-12.458 12.48.717 1.62 1.494 2.424 2.299 2.502.41-.304 1.114-1.364 2.01-3.113zm.956-.765a1.5 1.5 0 0 1-.066 1.221c-1.077 2.104-1.882 3.28-2.546 3.611l-.106.053h-.118c-1.372 0-2.494-1.122-3.407-3.25l-.057-.135.024-.145C1.359 8.856 9.415.961 14.003.502L14.13.49l.119.05c2.128.913 3.25 2.035 3.25 3.407v.118l-.053.106c-.332.664-1.507 1.47-3.61 2.546a1.5 1.5 0 0 1-1.221.066 28.91 28.91 0 0 1-1.92-.801c-1.53.868-3.846 3.184-4.714 4.713.23.486.496 1.125.8 1.92z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%235C677D' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%235C677D'%3E%3Cpath d='M-1-1h20v20H-1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --icon-email: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='13' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M16.263 12l-5.39-4.975L9 8.665 7.147 7.042 1.74 12h14.524zm.737-.68V1.664l-5.37 4.699L17 11.32zm-16 0l5.39-4.94L1 1.665v9.656zM16.24 1H1.76L9 7.336 16.24 1zM1 0h16a1 1 0 0 1 1 1v11a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%235C677D' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%235C677D'%3E%3Cpath d='M-1-3h20v20H-1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --icon-lock: url("data:image/svg+xml;charset=utf-8,%3Csvg width='14' height='18' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M2.5 7V5a4.5 4.5 0 0 1 9 0v2h.5a2 2 0 0 1 2 2v7a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h.5zm1 0h7V5a3.5 3.5 0 0 0-7 0v2zM2 8a1 1 0 0 0-1 1v7a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1H2zm4.5 3a.5.5 0 1 1 1 0v3a.5.5 0 1 1-1 0v-3z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%235C677D' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%235C677D'%3E%3Cpath d='M-3 0h20v20H-3z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --icon-user: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='17' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M5.605 9.39a5 5 0 1 1 4.79 0A7.503 7.503 0 0 1 15.5 16.5v.5h-1v-.5a6.5 6.5 0 1 0-13 0v.5h-1v-.5a7.503 7.503 0 0 1 5.105-7.11zM8 9a4 4 0 1 0 0-8 4 4 0 0 0 0 8z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%235C677D' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%235C677D'%3E%3Cpath d='M-2-1h20v20H-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --icon-show-pass: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='13' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M9 12c3.13 0 5.732-1.788 7.856-5.5C14.732 2.788 12.13 1 9 1S3.268 2.788 1.144 6.5C3.268 10.212 5.87 12 9 12zM9 0c3.667 0 6.667 2.167 9 6.5-2.333 4.333-5.333 6.5-9 6.5s-6.667-2.167-9-6.5C2.333 2.167 5.333 0 9 0zm0 9a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm0 1a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%235C677D' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%235C677D'%3E%3Cpath d='M-1-4h20v20H-1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --icon-hide-pass: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='15' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M12.148 5.969a3.5 3.5 0 0 1-4.68 4.68l.768-.768a2.5 2.5 0 0 0 3.145-3.145l.767-.767zM5.82 12.297c.993.47 2.052.703 3.18.703 3.13 0 5.732-1.788 7.856-5.5-.837-1.463-1.749-2.628-2.738-3.501l.708-.708C15.994 4.337 17.052 5.74 18 7.5c-2.333 4.333-5.333 6.5-9 6.5a8.294 8.294 0 0 1-3.926-.957l.746-.746zM15.89.813L2.313 14.39a.5.5 0 0 1-.667-.744L3.393 11.9C2.138 10.837 1.007 9.37 0 7.5 2.333 3.167 5.333 1 9 1c1.51 0 2.907.367 4.19 1.102L15.147.146a.5.5 0 0 1 .744.667zm-3.436 2.026A7.315 7.315 0 0 0 9 2C5.87 2 3.268 3.788 1.144 7.5c.9 1.572 1.884 2.798 2.959 3.69l1.893-1.893a3.5 3.5 0 0 1 4.801-4.801l1.657-1.657zm-2.396 2.395a2.5 2.5 0 0 0-3.324 3.324l3.324-3.324z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%235C677D' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%235C677D'%3E%3Cpath d='M-1-3h20v20H-1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --icon-arrow-left: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23B0B5C0' stroke-width='2' d='M9 1L2 8l7 7' fill='none'/%3E%3C/svg%3E");
    --icon-arrow-right: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1l6 5.5L0 12' stroke='%236F7780' fill='none'/%3E%3C/svg%3E");
    --icon-device: url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='18' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M2 1a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2zm0-1h8a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zM1 3h10v1H1V3zm0 9h10v1H1v-1zm5 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%235C677D' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%235C677D'%3E%3Cpath d='M-4-1h20v20H-4z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --icon-tenant: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.39.5l-1.75 7h4.153L8 4.293 11.207 7.5h4.153l-1.75-7H2.39zM2.5 8v6.5h4V10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v4.5h4V8' fill='none' stroke='%235C677D'/%3E%3C/svg%3E");
    --icon-guardian: url("data:image/svg+xml;charset=utf-8,%3Csvg width='14' height='18' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M6.5 4V1a.5.5 0 0 1 1 0v4h2V4H13a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3.5v1h2V4zm1 1v7.293l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 0 1 .708-.708L6.5 12.293V5H1v12h12V5H7.5z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%235C677D' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%235C677D'%3E%3Cpath d='M-3-1h20v20H-3z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --icon-sms: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='18' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M9 16.255L12.616 13H16a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h7v3.255zM2 0h14a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3l-4.166 3.749A.5.5 0 0 1 8 17.377V14H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm1.5 4a.5.5 0 0 1 0-1h11a.5.5 0 1 1 0 1h-11zm0 3a.5.5 0 0 1 0-1h11a.5.5 0 1 1 0 1h-11zm0 3a.5.5 0 0 1 0-1h5a.5.5 0 0 1 0 1h-5z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%235C677D' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%235C677D'%3E%3Cpath d='M-1-1h20v20H-1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --icon-recovery-code: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='18' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M12.16 6.547c.526.678.84 1.529.84 2.453 0 .924-.314 1.775-.84 2.453l2.84 2.84A7.97 7.97 0 0 0 17 9a7.97 7.97 0 0 0-2-5.292l-2.84 2.84zm-.707-.707L14.293 3A7.97 7.97 0 0 0 9 1a7.97 7.97 0 0 0-5.292 2l2.84 2.84A3.983 3.983 0 0 1 9 5c.924 0 1.775.314 2.453.84zm-5.613.707L3 3.707A7.97 7.97 0 0 0 1 9a7.97 7.97 0 0 0 2 5.292l2.84-2.84A3.983 3.983 0 0 1 5 9c0-.924.314-1.775.84-2.453zm.707 5.613L3.707 15A7.97 7.97 0 0 0 9 17a7.97 7.97 0 0 0 5.292-2l-2.84-2.84A3.983 3.983 0 0 1 9 13a3.983 3.983 0 0 1-2.453-.84zM9 18A9 9 0 1 1 9 0a9 9 0 0 1 0 18zm0-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%235C677D' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%235C677D'%3E%3Cpath d='M-1-1h20v20H-1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    --icon-webauthn-roaming: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.5 6.5v8h13v-8h-13zM1 5a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-1.667h3a1 1 0 0 0 1-1V8.5a1 1 0 0 0-1-1h-3V6a1 1 0 0 0-1-1H1zm17.5 4h-2v2.833h2V9zm-9.215 2.5a1.167 1.167 0 1 0 0-2.334 1.167 1.167 0 0 0 0 2.334zm0 1.5a2.667 2.667 0 1 0 0-5.333 2.667 2.667 0 0 0 0 5.333zM3.95 10.333a.667.667 0 1 1-1.333 0 .667.667 0 0 1 1.333 0z' fill='%23757575'/%3E%3C/svg%3E");
    --icon-webauthn-platform: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.789.949c-2.107 0-4.037.63-5.56 1.68a.474.474 0 1 1-.539-.781C5.374.688 7.493 0 9.79 0c2.16 0 4.165.61 5.797 1.649a.474.474 0 1 1-.51.8C13.599 1.508 11.772.95 9.79.95zm0 2.646c-2.107 0-4.037.631-5.56 1.68a8.182 8.182 0 0 0-2.35 2.449.474.474 0 1 1-.81-.496A9.13 9.13 0 0 1 3.69 4.494c1.684-1.16 3.803-1.848 6.099-1.848 3.75 0 7.038 1.838 8.719 4.582a.475.475 0 0 1-.81.496c-1.493-2.44-4.46-4.129-7.91-4.129z' fill='%236F7780'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.787 6.2c-1.707 0-3.508.593-4.748 1.605-.836.683-1.586 1.607-1.961 2.848-.375 1.24-.388 2.841.328 4.906a.474.474 0 1 1-.897.31c-.769-2.216-.782-4.025-.34-5.49.442-1.463 1.324-2.537 2.27-3.309 1.428-1.165 3.448-1.819 5.348-1.819 2.249 0 4.304.829 5.761 2.319 1.46 1.494 2.292 3.625 2.136 6.175a2.239 2.239 0 0 1-.669 1.483c-.437.422-1.07.675-1.883.675-.977 0-1.674-.262-2.143-.697-.465-.431-.647-.977-.704-1.43-.012-.097-.021-.206-.031-.324-.037-.438-.084-.999-.334-1.528a1.871 1.871 0 0 0-.685-.803c-.32-.205-.779-.355-1.448-.355-1.077 0-1.696.349-2.045.77-.36.435-.49 1.017-.451 1.576.08 1.126.627 2.62 1.544 3.68 1 1.156 1.901 1.583 2.518 1.875.162.077.304.144.423.213a.475.475 0 0 1-.474.822 4.473 4.473 0 0 0-.308-.152c-.597-.279-1.726-.806-2.877-2.137C7.06 16.19 6.438 14.5 6.344 13.18c-.052-.735.114-1.58.668-2.248.565-.683 1.477-1.114 2.775-1.114.815 0 1.459.184 1.959.504s.823.754 1.033 1.198c.333.708.396 1.51.43 1.93.006.087.012.158.018.208.039.308.154.618.407.853.25.23.692.444 1.498.444.61 0 .992-.185 1.225-.409.237-.23.36-.54.38-.858.14-2.301-.608-4.165-1.868-5.454C13.606 6.941 11.802 6.2 9.787 6.2z' fill='%236F7780'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.247 8.37c-1.929.279-2.894 1.106-3.557 2.053-.953 1.36-1.367 5.01 1.776 8.438a.474.474 0 0 1-.7.641c-3.39-3.698-3.104-7.838-1.854-9.624.804-1.147 1.997-2.133 4.216-2.45l.015-.002.016-.001c2.046-.158 3.602.44 4.644 1.506 1.032 1.056 1.508 2.521 1.508 4.015a.475.475 0 0 1-.949 0c0-1.302-.415-2.51-1.238-3.352-.812-.831-2.072-1.36-3.877-1.224z' fill='%236F7780'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.789 12.252c.262 0 .474.213.474.475 0 .618.076 1.238.356 1.848.279.606.774 1.235 1.667 1.844 1.578 1.078 3.513 1.085 4.067 1.085a.475.475 0 0 1 0 .948h-.01c-.571 0-2.762 0-4.592-1.249-1.015-.694-1.634-1.45-1.994-2.232-.358-.779-.443-1.55-.443-2.244 0-.262.213-.475.475-.475z' fill='%236F7780'/%3E%3C/svg%3E");
    --icon-error: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 14.667A6.667 6.667 0 1 0 8 1.333a6.667 6.667 0 0 0 0 13.334z' fill='%23D00E17' stroke='%23D00E17' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 4.583a.75.75 0 0 1 .75.75V8a.75.75 0 0 1-1.5 0V5.333a.75.75 0 0 1 .75-.75z' fill='%23fff'/%3E%3Cpath d='M8.667 10.667a.667.667 0 1 1-1.334 0 .667.667 0 0 1 1.334 0z' fill='%23fff'/%3E%3C/svg%3E");
    --icon-passkey: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.75 8.75a3.75 3.75 0 1 0 0-7.5 3.75 3.75 0 0 0 0 7.5zm10 0a2.917 2.917 0 1 0-4.167 2.624v4.458l1.25 1.25L17.917 15l-1.25-1.25 1.25-1.25-1.034-1.033A2.916 2.916 0 0 0 18.75 8.75zm-2.917 0a.834.834 0 1 1 0-1.668.834.834 0 0 1 0 1.667zm-3.8 1.683A5 5 0 0 0 10 10H7.5a5 5 0 0 0-5 5v1.667h10.833v-4.592a4.3 4.3 0 0 1-1.3-1.642z' fill='%230059d6'/%3E%3C/svg%3E");
    --icon-webauthn-platform-icon-blue: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.98 7.727c-5.455 0-9.779 3.632-11.662 8.66l-.025.068-.713 1.428a1.361 1.361 0 1 1-2.436-1.22l.65-1.301C8.01 9.515 13.205 5 19.98 5c3.386 0 7.301 1.31 10.294 4.119 3.032 2.846 5.048 7.168 4.684 13.012-.25 4.006-1.367 6.232-2.424 8.34-.38.759-.754 1.502-1.076 2.308a1.361 1.361 0 1 1-2.529-1.013c.451-1.129.901-2.023 1.319-2.853.978-1.945 1.778-3.535 1.991-6.953.316-5.065-1.412-8.584-3.828-10.852-2.454-2.304-5.689-3.38-8.43-3.38zm-.72 4.347c-.192.03-.358.104-.713.282a1.364 1.364 0 0 1-1.218-2.44l.037-.018c.327-.164.828-.416 1.463-.517.688-.11 1.43-.035 2.282.264a1.364 1.364 0 0 1-.9 2.574c-.509-.179-.79-.171-.952-.145zm4.304-.25a1.36 1.36 0 0 1 1.858-.508c1.845 1.056 5.401 4.41 4.761 9.535a1.362 1.362 0 1 1-2.702-.338c.45-3.603-2.078-6.067-3.41-6.829a1.365 1.365 0 0 1-.507-1.86zm-10.675.394a1.36 1.36 0 0 1 1.926 0 1.365 1.365 0 0 1 0 1.928l-.001.001-.001.001-.001.001-.001.001-.001.001-.001.001-.001.001-.001.001-.001.001-.001.002h-.001l-.002.002-.002.002-.004.004-.001.002-.004.003-.001.002h-.002l-.004.005-.003.003-.001.002h-.002l-.003.004-.64.642c-.803.803-1.274 1.823-1.705 3.007-.075.205-.151.425-.23.653-.334.963-.721 2.08-1.3 2.95-.74 1.11-1.368 1.778-2.08 2.253-.343.23-.674.392-.972.53l-.284.13c-.195.087-.377.17-.593.278a1.364 1.364 0 0 1-1.218-2.44c.267-.133.528-.251.741-.348l.212-.096c.255-.118.435-.211.603-.323.31-.206.702-.561 1.325-1.497.367-.552.605-1.232.924-2.143.095-.273.198-.566.314-.883.461-1.266 1.096-2.758 2.336-4l.64-.64.004-.004.001-.002h.001l.004-.004.002-.003.002-.001.003-.003.002-.002.001-.002.006-.005.002-.002.001-.002h.001l.001-.002h.001l.001-.002.002-.002h.002v-.002h.002v-.002l.002-.001zm5.49 5.058c-.614.602-1.036 1.406-1.22 1.867a1.361 1.361 0 1 1-2.529-1.013c.27-.675.87-1.849 1.844-2.803.999-.98 2.511-1.826 4.454-1.437 2.132.427 3.694 1.74 4.47 3.518.765 1.749.726 3.837-.068 5.826-1.446 3.62-4.972 8.543-7.791 11.367a1.36 1.36 0 0 1-1.926 0 1.365 1.365 0 0 1 0-1.929c2.628-2.631 5.911-7.254 7.188-10.451.568-1.42.53-2.742.102-3.72-.415-.95-1.236-1.682-2.509-1.937-.78-.156-1.425.134-2.015.712zm1.96 1.408c.725.199 1.153.948.955 1.675-1.756 6.448-6.327 10.243-8.784 11.72a1.36 1.36 0 0 1-1.868-.468 1.365 1.365 0 0 1 .467-1.871c2.082-1.251 6.045-4.547 7.557-10.099a1.362 1.362 0 0 1 1.672-.957zm-5.731 2.909c.625.417.794 1.264.377 1.89-1.483 2.228-3.02 3.759-5.971 5.237a1.364 1.364 0 0 1-1.218-2.44c2.496-1.25 3.682-2.446 4.923-4.31a1.36 1.36 0 0 1 1.889-.377zm14.049 1.914a1.364 1.364 0 0 1 .759 1.772l-.296.744c-1.184 2.99-2.045 5.165-4.772 7.896a1.36 1.36 0 0 1-1.926 0 1.365 1.365 0 0 1 0-1.929c2.32-2.324 2.999-4.032 4.183-7.014l.282-.71a1.361 1.361 0 0 1 1.77-.76z' fill='%23635DFF'/%3E%3C/svg%3E");
    --icon-device-globe-accent: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.667 35.334a1.662 1.662 0 1 1 0-3.326 1.662 1.662 0 1 1 0 3.326z' fill='%23635DFF'/%3E%3Crect x='12.5' y='10.5' width='15' height='15' rx='7.5' stroke='%23635DFF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.064 13.63c.175-.78.39-1.488.638-2.108.213-.532.445-.987.689-1.36a8.032 8.032 0 0 1 3.218 0c.243.373.476.828.689 1.36.248.62.463 1.329.638 2.108-.923.116-1.91.18-2.936.18a23.62 23.62 0 0 1-2.936-.18zm-1.131-.174a16.01 16.01 0 0 1-2.117-.531 8.026 8.026 0 0 1 3.014-2.273c-.065.145-.128.294-.189.446-.28.7-.519 1.493-.708 2.358zm7.236-2.804c.066.145.13.294.19.446.28.7.519 1.493.708 2.358a16.01 16.01 0 0 0 2.117-.531 8.026 8.026 0 0 0-3.015-2.273zm-.019 4.103c-.996.129-2.055.198-3.15.198-1.095 0-2.154-.07-3.15-.198A22.842 22.842 0 0 0 16.574 18h6.852a22.842 22.842 0 0 0-.276-3.245zM24.57 18a23.988 23.988 0 0 0-.29-3.421 16.63 16.63 0 0 0 2.59-.682A7.962 7.962 0 0 1 28 18c0 1.767-.573 3.4-1.544 4.725a17.272 17.272 0 0 0-2.176-.541 23.87 23.87 0 0 0 .28-3.041h3.011V18H24.57zm-1.152 1.143h-6.834c.031 1.01.123 1.972.267 2.864A24.665 24.665 0 0 1 20 21.81c1.095 0 2.154.069 3.15.198.144-.893.236-1.856.267-2.865zm-.482 3.99a23.577 23.577 0 0 0-2.935-.18 23.43 23.43 0 0 0-2.936.18c.175.779.39 1.488.638 2.107.068.17.138.33.209.485.666.18 1.366.275 2.089.275.723 0 1.423-.096 2.089-.276a9.74 9.74 0 0 0 .209-.484c.248-.62.463-1.328.638-2.108zm-6.478 2.042c-.202-.573-.378-1.2-.524-1.868a16.87 16.87 0 0 0-1.575.365 8.022 8.022 0 0 0 2.1 1.503zm-.737-2.991c-.78.143-1.51.325-2.176.54A7.964 7.964 0 0 1 12 18c0-1.5.413-2.903 1.13-4.103a16.62 16.62 0 0 0 2.59.682A23.988 23.988 0 0 0 15.431 18h-3.288v1.143h3.297c.031 1.063.128 2.085.28 3.04zm7.823 2.99c.202-.572.378-1.199.524-1.867a16.87 16.87 0 0 1 1.575.365 8.022 8.022 0 0 1-2.1 1.503z' fill='%23635DFF'/%3E%3C/svg%3E");
    --icon-device-globe-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M27.985 2h-15.97C9.797 2 8 3.614 8 5.605v28.79C8 36.386 9.797 38 12.015 38h15.97C30.203 38 32 36.386 32 34.395V5.605C32 3.614 30.203 2 27.985 2z' fill='%23000'/%3E%3C/svg%3E");
    --icon-checkmark-shield-accent: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.897 24.088l7.07-7.07a1.78 1.78 0 0 0 0-2.52 1.78 1.78 0 0 0-2.52 0l-7.07 7.07-3.064-3.064a1.745 1.745 0 0 0-2.468 2.468l3.064 3.063-.007.007 2.52 2.521.007-.007.002.001 2.467-2.467v-.002z' fill='%23635DFF'/%3E%3C/svg%3E");
    --icon-checkmark-shield-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='40' height='40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M32.73 7.376L21.07 3.493a3.099 3.099 0 0 0-1.006-.16 3.119 3.119 0 0 0-1.01.16L7.398 7.376A3.505 3.505 0 0 0 5 10.702v12.305l.016.045c.23 3.303 8.807 11.41 14.987 13.613h.122c6.18-2.202 14.759-10.31 14.987-13.613l.013-.045V10.702c0-1.51-.964-2.849-2.395-3.326z' fill='%23D0CEFF'/%3E%3C/svg%3E");
    --icon-lock-heavy-accent: url("data:image/svg+xml;charset=utf-8,%3Csvg width='48' height='48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23.931 37.95a4.988 4.988 0 1 0 0-9.977 4.988 4.988 0 0 0 0 9.976zm-5.966-15.955v-6.018a5.984 5.984 0 0 1 5.985-5.985 5.984 5.984 0 0 1 5.985 5.985l.019.016a3 3 0 0 0 5.999 0l.005.014C35.96 9.378 30.583 4 23.95 4c-6.63 0-12.007 5.377-12.007 12.01v5.985' fill='%23635DFF'/%3E%3C/svg%3E");
    --icon-lock-heavy-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='48' height='48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.916 44h-27.91A4.005 4.005 0 0 1 6 39.994V26a4.005 4.005 0 0 1 4.006-4.005h27.91A4.005 4.005 0 0 1 41.92 26v13.994A4.005 4.005 0 0 1 37.916 44z' fill='%23D0CEFF'/%3E%3Cpath d='M17.965 21.995v-6.018a5.984 5.984 0 0 1 5.985-5.985 5.984 5.984 0 0 1 5.985 5.985l.019.016a3 3 0 0 0 5.999 0l.005.014C35.96 9.378 30.583 4 23.95 4c-6.63 0-12.007 5.377-12.007 12.01v5.985' fill='%23635DFF'/%3E%3C/svg%3E");
    --button-height: var(--base-form-element-height);
    --input-height: var(--base-form-element-height);
    --input-background-color: var(--widget-background-color);
    --input-text-color: var(--font-default-color);
    --social-button-border-width: 1px;
    --social-button-border-color: var(--gray-mid);
    --secondary-button-border-color: var(--gray-mid);
    --secondary-button-text-color: var(--font-default-color);
    --radio-button-border-color: var(--gray-mid);
    --spacing: 8px;
    --spacing-1: var(--spacing);
    --spacing-1-5: calc(var(--spacing)*1.5);
    --spacing-2: calc(var(--spacing)*2);
    --spacing-3: calc(var(--spacing)*3);
    --spacing-4: calc(var(--spacing)*4);
    --spacing-5: calc(var(--spacing)*5);
    --spacing-6: calc(var(--spacing)*6);
    --spacing-6-5: calc(var(--spacing)*6.5);
    --base-form-element-height: var(--spacing-6-5);
    --prompt-width: calc(var(--spacing)*50);
    --outer-padding: calc(var(--spacing)*10);
    --prompt-min-height: calc(var(--spacing)*67.5);
    --transition-speed: 0.15s;
    --transition-easing: ease-in-out;
    --border-default-color: var(--gray-mid);
    --button-border-width: 1px;
    --box-border-color: transparent;
    --box-border-width: 0;
    --box-border-style: solid;
    --out-input-border-radius: 3px;
    --out-input-padding: 0 var(--spacing-2);
    --out-input-box-shadow-depth: 0 0 0 1px;
    --out-input-line-height: var(--input-height);
    --out-input-label-top: calc(var(--input-height)/2);
    --out-input-label-top-focus: -2px;
    --out-input-label-transform: translateY(-50%);
    --out-input-label-transform-focus: scale(0.88) translateX(calc(-1*var(--spacing-1))) translateY(-50%);
    --out-input-border-color: var(--border-default-color);
    --out-input-border-width: 1px;
    --input-box-shadow-depth: var(--out-input-box-shadow-depth);
    --input-border-radius: var(--out-input-border-radius);
    --input-padding: var(--out-input-padding);
    --input-line-height: var(--out-input-line-height);
    --input-label-top: var(--out-input-label-top);
    --input-label-top-focus: var(--out-input-label-top-focus);
    --input-label-transform: var(--out-input-label-transform);
    --input-label-transform-focus: var(--out-input-label-transform-focus);
    --input-border-color: var(--out-input-border-color);
    --input-border-width: var(--out-input-border-width);
    --FSI-input-border-radius: 5px 5px 0 0;
    --FSI-input-padding: var(--spacing-1) var(--spacing-2) 0;
    --FSI-input-box-shadow: none;
    --FSI-input-line-height: 1;
    --FSI-input-label-top: 50%;
    --FSI-input-label-top-focus: var(--spacing-1);
    --FSI-input-label-transform: translateY(-50%);
    --FSI-input-label-transform-focus: scale(0.7) translateX(-7px) translateY(-50%);
    --FSI-input-border-width: 0 0 1px 0;
    --overlay-box-shadow-size: inset 0 0 0 150px;
    --base-hover-color-values: 0,0,0;
    --base-hover-color: rgb(var(--base-hover-color-values));
    --hover-transparency-value: 0.1;
    --transparency-hover-color: rgba(var(--base-hover-color-values),var(--hover-transparency-value));
    --button-hover-shadow: var(--overlay-box-shadow-size) var(--transparency-hover-color);
    --base-focus-color: var(--link-color);
    --focus-transparency-value: 0.15;
    --transparency-focus-color: rgba(var(--link-color-values),var(--focus-transparency-value));
    --button-dark-focus-shadow: var(--overlay-box-shadow-size) var(--transparency-focus-color);
    --transparency-focus-error-color: rgba(var(--error-color-values),var(--focus-transparency-value));
    --border-radius-component: 3px;
    --border-radius-outer: 5px;
    --border-radius-form-elements: 3px;
    --button-border-radius: 3px;
    --radio-border-width: 1px;
    --radio-border-radius: var(--button-border-radius);
    --textarea-num-rows: 5;
    --textarea-height: calc(var(--base-line-height)*var(--textarea-num-rows)*var(--lg-font-size) + 2*(var(--spacing-2) + var(--input-border-width)));
    --shadow-component-outer: 0 12px 40px rgba(0,0,0,0.12);
    --z-index-background: -1;
    --z-index-base: 1;
    --z-index-first: 2;
    --z-index-second: 3;
    --z-index-third: 4
}


body {
    background: #000;
    background: var(--page-background-color);
    font-family: ulp-font,-apple-system,BlinkMacSystemFont,Roboto,Helvetica,sans-serif;
    font-family: var(--font-family);
    font-weight: 400;
    font-weight: var(--font-default-weight);
    -webkit-overflow-scrolling: touch;
    overflow: auto
}

#custom-prompt-logo {
    display: none
}

body._use-custom-prompt-logo #custom-prompt-logo {
    display: block
}

body._hide-prompt-logo .c4b45c795,body._use-custom-prompt-logo .c4b45c795 {
    display: none
}

._widget-auto-layout ._widget,.c49c180af {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: var(--page-background-alignment,center);
    width: 100%;
    padding: 80px 0;
    padding: var(--outer-padding) 0
}

    .cbaa3bb0b {
        grid-area: center;
        grid-area: var(--page-background-alignment)
    }


.cc1091f41 {
    position: relative
}

._widget-auto-layout .cc1091f41,.c49c180af .cc1091f41 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 540px;
    min-height: var(--prompt-min-height)
}

.ca3021220 {
    padding: 0 40px 40px;
    padding: 0 var(--spacing-5) var(--spacing-5);
    text-align: center;
    flex-shrink: 0
}

.ca3021220>:last-child {
    margin-bottom: 0
}

.cec7de2e9 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    padding: 4px 16px;
    padding: 4px var(--spacing-2);
    margin-top: 24px;
    margin-top: var(--spacing-3);
    min-height: 52px;
    min-height: var(--button-height);
    font-family: inherit;
    font-size: 16px;
    font-size: var(--lg-font-size);
    font-weight: 400;
    font-weight: var(--font-default-weight);
    outline: none;
    cursor: pointer;
    color: #fff;
    color: var(--button-font-color);
    border: 0;
    border-radius: 3px;
    border-radius: var(--button-border-radius);
    transition: background-color .25s ease-in-out,box-shadow .25s ease-in-out
}


.c60eddd22.focus+.c1d002b5c,.c60eddd22:focus+.c1d002b5c {
    box-shadow: 0 0 0 4px rgba(0,123,173,.15);
    box-shadow: 0 0 0 4px var(--transparency-focus-color)
}

.ulp-button-icon {
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-flex;
    align-items: center;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    flex-grow: 0
}

.c1283df90 {
    display: flex;
    justify-content: stretch
}

.c1283df90>.cb85bf40d {
    flex-grow: 1;
    margin-right: 8px;
    border-radius: 3px;
    border-radius: var(--button-border-radius);
    padding: 0
}


.c84f8a30a.c3cec79df {
    width: 100%
}

.c7e756315 {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 3px;
    border-radius: var(--input-border-radius);
    transition: box-shadow .2s ease-in-out,border-color .2s ease-in-out;
    background-color: #fff;
    background-color: var(--input-background-color)
}


.c7e756315:last-child {
    margin-bottom: 0
}

.c7e756315.c2d2e34e3 .c73d4d3b2,[id^=ulp-container-] .ulp-field.c2d2e34e3>label {
    position: absolute;
    left: 16px;
    left: var(--spacing-2);
    color: #6f7780;
    color: var(--font-light-color);
    background-color: #fff;
    background-color: var(--input-background-color);
    z-index: 1;
    z-index: var(--z-index-base);
    padding: 1px 6px;
    top: 26px;
    top: var(--input-label-top);
    transform: translateY(-50%);
    transform: var(--input-label-transform);
    transition: transform .15s ease-in-out,top .15s ease-in-out,padding .15s ease-in-out;
    transform-origin: 0;
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}



.c7e756315.c2d2e34e3.password {
    border-style: solid;
    border-color: #c2c8d0;
    border-color: var(--input-border-color);
    border-width: 1px;
    border-width: var(--input-border-width);
    flex-wrap: nowrap
}

.c7e756315.c2d2e34e3.password .input {
    border: 0
}

.c7e756315.c2d2e34e3.password.ccf529b29 {
    border-width: 1px;
    border-width: var(--input-border-width);
    border-color: #d00e17;
    border-color: var(--error-color)
}

.c7e756315.c2d2e34e3.password.ccf529b29.focus,.c7e756315.c2d2e34e3.password.ccf529b29[focus-within] {
    border-width: 1px;
    border-width: var(--input-border-width);
    border-color: #d00e17;
    border-color: var(--error-color);
    box-shadow: 0 0 0 1px #d00e17;
    box-shadow: var(--input-box-shadow-depth) var(--error-color)
}

z

.c7e756315.c2d2e34e3.password.focus,.c7e756315.c2d2e34e3.password:focus-within {
    outline: 0;
    position: relative;
    border-color: #007bad;
    border-color: var(--base-focus-color);
    box-shadow: 0 0 0 1px #007bad;
    box-shadow: var(--input-box-shadow-depth) var(--base-focus-color)
}

.c7e756315.c2d2e34e3 .c05ebad57.password {
    box-sizing: content-box;
    position: static;
    transform: none;
    padding: 8px;
    padding: var(--spacing-1);
    background-color: transparent;
    background-color: initial;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='13' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M9 12c3.13 0 5.732-1.788 7.856-5.5C14.732 2.788 12.13 1 9 1S3.268 2.788 1.144 6.5C3.268 10.212 5.87 12 9 12zM9 0c3.667 0 6.667 2.167 9 6.5-2.333 4.333-5.333 6.5-9 6.5s-6.667-2.167-9-6.5C2.333 2.167 5.333 0 9 0zm0 9a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm0 1a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%235C677D' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%235C677D'%3E%3Cpath d='M-1-4h20v20H-1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-image: var(--icon-show-pass);
    background-position: 50%;
    background-size: 18px;
    background-repeat: no-repeat;
    pointer-events: none;
    flex-shrink: 0
}

.c7e756315.c2d2e34e3.password .ulp-button-icon {
    padding-left: 4px;
    min-height: 52px;
    min-height: var(--input-height);
    border-top-right-radius: 3px;
    border-top-right-radius: var(--border-radius-form-elements);
    border-bottom-right-radius: 3px;
    border-bottom-right-radius: var(--border-radius-form-elements)
}

.c7e756315.c2d2e34e3.password .ulp-button-icon.focus,.c7e756315.c2d2e34e3.password .ulp-button-icon:focus {
    background-color: rgba(0,123,173,.15);
    background-color: var(--transparency-focus-color);
    box-shadow: none!important
}

@supports ((-webkit-mask-image: var(--icon-show-pass)) or (mask-image:var(--icon-show-pass))) {
    .c7e756315.c2d2e34e3 .c05ebad57.password {
        background-color:#6f7780;
        background-color: var(--icon-default-color);
        background-image: none;
        -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='13' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M9 12c3.13 0 5.732-1.788 7.856-5.5C14.732 2.788 12.13 1 9 1S3.268 2.788 1.144 6.5C3.268 10.212 5.87 12 9 12zM9 0c3.667 0 6.667 2.167 9 6.5-2.333 4.333-5.333 6.5-9 6.5s-6.667-2.167-9-6.5C2.333 2.167 5.333 0 9 0zm0 9a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm0 1a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%235C677D' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%235C677D'%3E%3Cpath d='M-1-4h20v20H-1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='13' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M9 12c3.13 0 5.732-1.788 7.856-5.5C14.732 2.788 12.13 1 9 1S3.268 2.788 1.144 6.5C3.268 10.212 5.87 12 9 12zM9 0c3.667 0 6.667 2.167 9 6.5-2.333 4.333-5.333 6.5-9 6.5s-6.667-2.167-9-6.5C2.333 2.167 5.333 0 9 0zm0 9a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5zm0 1a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%235C677D' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%235C677D'%3E%3Cpath d='M-1-4h20v20H-1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        -webkit-mask-image: var(--icon-show-pass);
        mask-image: var(--icon-show-pass);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 18px;
        mask-size: 18px
    }
}

.c7e756315.c2d2e34e3.password.show .c05ebad57.password {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='15' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M12.148 5.969a3.5 3.5 0 0 1-4.68 4.68l.768-.768a2.5 2.5 0 0 0 3.145-3.145l.767-.767zM5.82 12.297c.993.47 2.052.703 3.18.703 3.13 0 5.732-1.788 7.856-5.5-.837-1.463-1.749-2.628-2.738-3.501l.708-.708C15.994 4.337 17.052 5.74 18 7.5c-2.333 4.333-5.333 6.5-9 6.5a8.294 8.294 0 0 1-3.926-.957l.746-.746zM15.89.813L2.313 14.39a.5.5 0 0 1-.667-.744L3.393 11.9C2.138 10.837 1.007 9.37 0 7.5 2.333 3.167 5.333 1 9 1c1.51 0 2.907.367 4.19 1.102L15.147.146a.5.5 0 0 1 .744.667zm-3.436 2.026A7.315 7.315 0 0 0 9 2C5.87 2 3.268 3.788 1.144 7.5c.9 1.572 1.884 2.798 2.959 3.69l1.893-1.893a3.5 3.5 0 0 1 4.801-4.801l1.657-1.657zm-2.396 2.395a2.5 2.5 0 0 0-3.324 3.324l3.324-3.324z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%235C677D' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%235C677D'%3E%3Cpath d='M-1-3h20v20H-1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-image: var(--icon-hide-pass)
}

.c7e756315.c2d2e34e3.password [data-label=hide-password] {
    display: none
}

.c7e756315.c2d2e34e3.password.show [data-label=hide-password] {
    display: unset
}

.c7e756315.c2d2e34e3.password.show [data-label=show-password] {
    display: none
}

.c7e756315 .password-icon-tooltip {
    pointer-events: none;
    position: absolute;
    opacity: 0;
    bottom: 100%;
    left: -14px;
    padding: 8px;
    padding: var(--spacing-1);
    color: #f1f2f3;
    color: var(--gray-lightest);
    background-color: #000;
    font-size: 12px;
    font-size: var(--small-font-size);
    border-radius: 3px;
    transition: opacity .3s ease-in-out
}

.c7e756315 .password-icon-tooltip:before {
    content: "";
    position: absolute;
    top: 100%;
    transform: translateX(-50%);
    left: 50%;
    width: 0;
    height: 0;
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 8px 8px 0
}

.c7e756315.password .ulp-button-icon:focus .password-icon-tooltip,.c7e756315.password .ulp-button-icon:hover .password-icon-tooltip {
    opacity: 1
}

@supports ((-webkit-mask-image: var(--icon-hide-pass)) or (mask-image:var(--icon-hide-pass))) {
    .c7e756315.c2d2e34e3.password.show .c05ebad57.password {
        background-color:#6f7780;
        background-color: var(--icon-default-color);
        background-image: none;
        -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='15' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M12.148 5.969a3.5 3.5 0 0 1-4.68 4.68l.768-.768a2.5 2.5 0 0 0 3.145-3.145l.767-.767zM5.82 12.297c.993.47 2.052.703 3.18.703 3.13 0 5.732-1.788 7.856-5.5-.837-1.463-1.749-2.628-2.738-3.501l.708-.708C15.994 4.337 17.052 5.74 18 7.5c-2.333 4.333-5.333 6.5-9 6.5a8.294 8.294 0 0 1-3.926-.957l.746-.746zM15.89.813L2.313 14.39a.5.5 0 0 1-.667-.744L3.393 11.9C2.138 10.837 1.007 9.37 0 7.5 2.333 3.167 5.333 1 9 1c1.51 0 2.907.367 4.19 1.102L15.147.146a.5.5 0 0 1 .744.667zm-3.436 2.026A7.315 7.315 0 0 0 9 2C5.87 2 3.268 3.788 1.144 7.5c.9 1.572 1.884 2.798 2.959 3.69l1.893-1.893a3.5 3.5 0 0 1 4.801-4.801l1.657-1.657zm-2.396 2.395a2.5 2.5 0 0 0-3.324 3.324l3.324-3.324z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%235C677D' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%235C677D'%3E%3Cpath d='M-1-3h20v20H-1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='18' height='15' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath d='M12.148 5.969a3.5 3.5 0 0 1-4.68 4.68l.768-.768a2.5 2.5 0 0 0 3.145-3.145l.767-.767zM5.82 12.297c.993.47 2.052.703 3.18.703 3.13 0 5.732-1.788 7.856-5.5-.837-1.463-1.749-2.628-2.738-3.501l.708-.708C15.994 4.337 17.052 5.74 18 7.5c-2.333 4.333-5.333 6.5-9 6.5a8.294 8.294 0 0 1-3.926-.957l.746-.746zM15.89.813L2.313 14.39a.5.5 0 0 1-.667-.744L3.393 11.9C2.138 10.837 1.007 9.37 0 7.5 2.333 3.167 5.333 1 9 1c1.51 0 2.907.367 4.19 1.102L15.147.146a.5.5 0 0 1 .744.667zm-3.436 2.026A7.315 7.315 0 0 0 9 2C5.87 2 3.268 3.788 1.144 7.5c.9 1.572 1.884 2.798 2.959 3.69l1.893-1.893a3.5 3.5 0 0 1 4.801-4.801l1.657-1.657zm-2.396 2.395a2.5 2.5 0 0 0-3.324 3.324l3.324-3.324z' id='a'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%235C677D' fill-rule='nonzero' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%235C677D'%3E%3Cpath d='M-1-3h20v20H-1z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        -webkit-mask-image: var(--icon-hide-pass);
        mask-image: var(--icon-hide-pass);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 18px;
        mask-size: 18px
    }
}

.c61b0ada0.c7e756315 {
    margin-bottom: 8px;
    margin-bottom: var(--spacing-1)
}

.cb5d58087 {
    margin-top: 0
}

.input.multiline {
    display: flex;
    align-items: center;
    justify-content: center;
    word-break: break-word
}

.c7e756315.c61b0ada0 .input {
    font-family: monospace
}

.c7e756315.c61b0ada0 .input:-moz-read-only {
    box-shadow: inset 0 0 0 150px rgba(0,0,0,.1);
    box-shadow: var(--button-hover-shadow)
}

.c7e756315.c61b0ada0 .input:read-only {
    box-shadow: inset 0 0 0 150px rgba(0,0,0,.1);
    box-shadow: var(--button-hover-shadow)
}

.input.c975589fc {
    color: #2d333a;
    color: var(--font-default-color);
    text-align: center
}

.c10a5ee41 {
    margin: 8px 0 16px;
    margin: var(--spacing-1) 0 var(--spacing-2);
    text-align: left
}

[id^=ulp-container-] .ulp-field .ulp-error-info,[id^=ulp-container-] .ulp-field.ulp-error .ulp-error-info:empty {
    display: none
}

.ulp-input-error-message,[id^=ulp-container-] .ulp-field.ulp-error .ulp-error-info {
    margin-top: 4px;
    margin-bottom: 12px;
    margin-bottom: var(--spacing-1-5);
    display: flex;
    font-size: 12px;
    line-height: 1.4;
    text-align: left;
    color: #d00e17;
    color: var(--error-color)
}

.ulp-input-error-icon,[id^=ulp-container-] .ulp-field.ulp-error .ulp-error-info:before {
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 8px;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 14.667A6.667 6.667 0 1 0 8 1.333a6.667 6.667 0 0 0 0 13.334z' fill='%23D00E17' stroke='%23D00E17' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8 4.583a.75.75 0 0 1 .75.75V8a.75.75 0 0 1-1.5 0V5.333a.75.75 0 0 1 .75-.75z' fill='%23fff'/%3E%3Cpath d='M8.667 10.667a.667.667 0 1 1-1.334 0 .667.667 0 0 1 1.334 0z' fill='%23fff'/%3E%3C/svg%3E");
    background-image: var(--icon-error);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 16px
}

.c7e756315.ccf529b29 .input,[id^=ulp-container-] .ulp-field.ulp-error>input[type=number],[id^=ulp-container-] .ulp-field.ulp-error>input[type=text],[id^=ulp-container-] .ulp-field.ulp-error>select,[id^=ulp-container-] .ulp-field.ulp-error>textarea {
    border-color: #d00e17;
    border-color: var(--error-color)
}

.c7e756315.ccf529b29 .c73d4d3b2,[id^=ulp-container-] .ulp-field.ulp-error>label:first-child {
    color: #d00e17;
    color: var(--error-color)
}

.c7e756315.ccf529b29.focus .input,.c7e756315.ccf529b29[focus-within] .input,[id^=ulp-container-] .ulp-field.ulp-error.focus>input[type=number],[id^=ulp-container-] .ulp-field.ulp-error.focus>input[type=text],[id^=ulp-container-] .ulp-field.ulp-error.focus>select,[id^=ulp-container-] .ulp-field.ulp-error.focus>textarea,[id^=ulp-container-] .ulp-field.ulp-error[focus-within]>input[type=number],[id^=ulp-container-] .ulp-field.ulp-error[focus-within]>input[type=text],[id^=ulp-container-] .ulp-field.ulp-error[focus-within]>select,[id^=ulp-container-] .ulp-field.ulp-error[focus-within]>textarea {
    border-color: #d00e17;
    border-color: var(--error-color);
    box-shadow: 0 0 0 1px #d00e17;
    box-shadow: var(--input-box-shadow-depth) var(--error-color)
}

.c7e756315.ccf529b29.focus .input,.c7e756315.ccf529b29:focus-within .input,[id^=ulp-container-] .ulp-field.ulp-error.focus>input[type=number],[id^=ulp-container-] .ulp-field.ulp-error.focus>input[type=text],[id^=ulp-container-] .ulp-field.ulp-error.focus>select,[id^=ulp-container-] .ulp-field.ulp-error.focus>textarea,[id^=ulp-container-] .ulp-field.ulp-error:focus-within>input[type=number],[id^=ulp-container-] .ulp-field.ulp-error:focus-within>input[type=text],[id^=ulp-container-] .ulp-field.ulp-error:focus-within>select,[id^=ulp-container-] .ulp-field.ulp-error:focus-within>textarea {
    border-color: #d00e17;
    border-color: var(--error-color);
    box-shadow: 0 0 0 1px #d00e17;
    box-shadow: var(--input-box-shadow-depth) var(--error-color)
}

.c7e756315.ccf529b29.focus .c73d4d3b2,.c7e756315.ccf529b29[focus-within] .c73d4d3b2,[id^=ulp-container-] .ulp-field.ulp-error.focus>label:first-child,[id^=ulp-container-] .ulp-field.ulp-error[focus-within]>label:first-child {
    color: #d00e17;
    color: var(--error-color)
}

.c7e756315.ccf529b29.focus .c73d4d3b2,.c7e756315.ccf529b29:focus-within .c73d4d3b2,[id^=ulp-container-] .ulp-field.ulp-error.focus>label:first-child,[id^=ulp-container-] .ulp-field.ulp-error:focus-within>label:first-child {
    color: #d00e17;
    color: var(--error-color)
}

.c52b2a996 {
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    margin-right: 8px;
    margin-right: var(--spacing-1);
    width: 16px;
    width: var(--spacing-2);
    height: 16px;
    height: var(--spacing-2);
    vertical-align: middle;
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite
}

.c52b2a996.c64725c4e {
    width: 24px;
    width: var(--spacing-3);
    height: 24px;
    height: var(--spacing-3);
    border-width: 3px
}

.c52b2a996.c099f776e {
    width: 40px;
    width: var(--spacing-5);
    height: 40px;
    height: var(--spacing-5);
    border-width: 3px
}

.c52b2a996:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    border-top: 2px solid #6f7780;
    border-left: 2px solid #6f7780;
    border-bottom: 2px solid #6f7780;
    border: 2px solid var(--presentational-content-color);
    border-right: 2px solid transparent;
    border-radius: 100%
}

@-webkit-keyframes rotation {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}

.c7006d4dc {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    margin-bottom: var(--spacing-1);
    height: auto;
    min-height: 52px;
    min-height: var(--button-height);
    border: 1px solid #c2c8d0;
    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: 3px;
    border-radius: var(--input-border-radius);
    font-size: 16px;
    font-size: var(--lg-font-size);
    transition: box-shadow .1s ease-in-out
}

.c7006d4dc.c6e5079f3,.c7006d4dc.ce7ae8466 {
    padding: 0 16px;
    padding: 0 var(--spacing-2)
}

.resend-action-container .c1062f8d7,.c7a29b515 .c1062f8d7 {
    font-weight: 700;
    font-weight: var(--font-bold-weight)
}

.c56f6ff29,.c1272b72e {
    padding: 40px 40px 24px;
    padding: var(--spacing-5) var(--spacing-5) var(--spacing-3);
    line-height: 1.5;
    text-align: center;
    flex-shrink: 0
}



.c56f6ff29 strong {
    font-weight: 700;
    font-weight: var(--font-bold-weight)
}

a {
    font-size: 14px;
    font-size: var(--default-font-size);
    color: #007bad;
    color: var(--link-color);
    text-decoration: none;
    line-height: 1.5
}

.cb85bf40d,[id^=ulp-container-] a {
    border-radius: 3px;
    border-radius: var(--border-radius-component);
    padding: 4px;
    font-weight: 700;
    font-weight: var(--font-bold-weight)
}

.c05ebad57 {
    position: absolute;
    display: inline-block;
    left: 26px;
    left: calc(var(--spacing-6-5)/2);
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 20px;
    width: var(--icon-width);
    height: 20px;
    height: var(--icon-height);
    margin-right: 4px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    flex-shrink: 0
}



.c1f5f574f .c05ebad57.cf8af6b77,.c7006d4dc .c05ebad57.cf8af6b77 {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 50%;
    left: auto;
    transform: translateY(-50%);
    background-position: 100%;
    right: 16px;
    right: var(--spacing-2);
    margin-left: 4px;
    vertical-align: middle;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='6' height='13' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1l6 5.5L0 12' stroke='%236F7780' fill='none'/%3E%3C/svg%3E");
    background-image: var(--icon-arrow-right);
    background-size: contain;
    background-repeat: no-repeat
}

.c7006d4dc input {
    display: none
}

.ulp-authenticator-selector-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 250px;
    word-break: break-word;
    line-height: 1.1;
    line-height: var(--base-line-height);
    text-align: left
}

.c05ebad57.passkey {
    background-color: #0059d6;
    background-color: var(--primary-color);
    -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.75 8.75a3.75 3.75 0 1 0 0-7.5 3.75 3.75 0 0 0 0 7.5zm10 0a2.917 2.917 0 1 0-4.167 2.624v4.458l1.25 1.25L17.917 15l-1.25-1.25 1.25-1.25-1.034-1.033A2.916 2.916 0 0 0 18.75 8.75zm-2.917 0a.834.834 0 1 1 0-1.668.834.834 0 0 1 0 1.667zm-3.8 1.683A5 5 0 0 0 10 10H7.5a5 5 0 0 0-5 5v1.667h10.833v-4.592a4.3 4.3 0 0 1-1.3-1.642z' fill='%230059d6'/%3E%3C/svg%3E");
    mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.75 8.75a3.75 3.75 0 1 0 0-7.5 3.75 3.75 0 0 0 0 7.5zm10 0a2.917 2.917 0 1 0-4.167 2.624v4.458l1.25 1.25L17.917 15l-1.25-1.25 1.25-1.25-1.034-1.033A2.916 2.916 0 0 0 18.75 8.75zm-2.917 0a.834.834 0 1 1 0-1.668.834.834 0 0 1 0 1.667zm-3.8 1.683A5 5 0 0 0 10 10H7.5a5 5 0 0 0-5 5v1.667h10.833v-4.592a4.3 4.3 0 0 1-1.3-1.642z' fill='%230059d6'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--icon-passkey);
    mask-image: var(--icon-passkey)
}

z

.c05ebad57.c348a4a50 {
    width: 24px;
    height: 24px;
    vertical-align: bottom;
    background-image: url(https://cdn.auth0.com/ulp/react-components/1.82.13/img/theme-generic/duo-logo.svg);
    background-color: transparent!important
}

.c05ebad57.c04c146cd {
    filter: grayscale(.9) brightness(.8) saturate(2.3)
}

@supports ((-webkit-mask-image: var(--icon-email)) or (mask-image:var(--icon-email))) {
    .c05ebad57 {
        -webkit-mask-size:contain;
        mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-position: center;
        mask-position: center;
        background-color: #6f7780;
        background-color: var(--icon-default-color);
        background-image: none
    }
    .c05ebad57.cc40bfc67 {
        -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.39.5l-1.75 7h4.153L8 4.293 11.207 7.5h4.153l-1.75-7H2.39zM2.5 8v6.5h4V10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v4.5h4V8' fill='none' stroke='%235C677D'/%3E%3C/svg%3E");
        mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.39.5l-1.75 7h4.153L8 4.293 11.207 7.5h4.153l-1.75-7H2.39zM2.5 8v6.5h4V10a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5v4.5h4V8' fill='none' stroke='%235C677D'/%3E%3C/svg%3E");
        -webkit-mask-image: var(--icon-tenant);
        mask-image: var(--icon-tenant)
    }
}

.c1c5eaf7d {
    text-align: left
}
.c9f220819:before {
    flex-shrink: 0;
    display: inline-block;
    content: counter(list-counter);
    margin: 3px 16px 0 0;
    margin: 3px var(--spacing-2) 0 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #2d333a;
    background: var(--font-default-color);
    color: #fff;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1
}

.c3d2748ff {
    margin-top: 16px;
    margin-top: var(--spacing-2)
}

.ulp-alternate-action {
    text-align: left;
    margin: 16px 0 0;
    margin: var(--spacing-2) 0 0 0
}


[id^=ulp-container]:empty {
    display: none
}

*,:after,:before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}